<div class="pc-container">
  <div class="pcoded-content pb" style="padding-bottom:90px;">
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="page-header-title">
                <h5 class="m-b-10">Consolidated IO Dashboard - {{userName}}({{roleName}}) </h5>
              </div>
            </div>
            <!-- <div class="col-md-6 text-right">
              <button [routerLink]="['/ConsolidatedIO-dashboard']" class="btn btn-primary text-white py-1">Consolidated IO dashboard</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form">
            <div id="searchByFilingNumber" class="row searchbypanel">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-10">
                    <div class="row">
              <div class="col-md-3  col-12 mb-3">
                <label class="form-label"> District  Name</label>
                <ng-multiselect-dropdown #multiSelect [settings]="settings" [data]="ListDistict" formControlName="districtCodes" [placeholder]="'Select District'"
                  (onDropDownClose)="onDistrictDropdownChange($event)">
                  </ng-multiselect-dropdown>

              </div>


              <div class="col-md-3  col-12 mb-3">
                <label class="form-label"> Police Station</label>
                <sup class="text-danger top-0">*</sup>
                <ng-multiselect-dropdown #multiSelect [settings]="settings" [data]="policestations" formControlName="psCode" [placeholder]="'Police Station'">
                </ng-multiselect-dropdown>
              </div>
              <div class="col-md-3  col-12 mb-3">
                <label class="form-label">FIR From Date</label>
                <sup class="text-danger top-0">*</sup>
                <p-calendar formControlName="FromDate" [minDate]="minDateValue" class="form-control" [maxDate]="maxDateValue" readonlyInput="true"
                  placeholder="Select a date" (onSelect)="onDateChange($event)" dateFormat="dd/mm/yy"></p-calendar>

              </div>
              <div class="col-md-3 col-12 mb-3">
                <label class="form-label">FIR To Date</label>
                <sup class="text-danger top-0">*</sup>
                <p-calendar class="form-control" formControlName="ToDate" [minDate]="minToDate" [maxDate]="maxFromDate" placeholder="Select a date"
                  dateFormat="dd/mm/yy"></p-calendar>
             </div>
              </div>
            </div>
            
              <div class="col-md-2 col-12 pt-4 mt-2" >
                <button type="button" class="btn btn-success text-white mr-2" (click)="onSearch()">Search</button>
                <button type="button" class="btn btn-secondary text-white" (click)="onReset()">Reset</button>
              </div>
            </div>
          </div>
        </div>            
        </form>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="!isTotalFirstCountLebel">
        <h4 class="comn-h2 text-center mb-3">FIR registered from {{ CountFromDate}} to {{ CountToDate}}</h4>
      </div>

      <div class="col-sm-12 mb-1 fir-det-sec" *ngIf="isTotalFirstCount">
        <div class="row" *ngFor="let rowData of CountListRowData">
          
          <div class="col-sm-4">
            <a href="javascript:void(0)" class="card text-center p-4 com-border-shadow"
               (click)="LoadTimePendency(rowData.TotalFirCountType, rowData.MainType, rowData.MainHeader)">
              <h4>{{ rowData.TotalFirCountLabel }}</h4>
              <span id="TotalCount">{{ rowData.TotalFirCount }}</span>
            </a>
          </div>
      
          <div class="col-sm-4">
            <a href="javascript:void(0)" class="card text-center p-4 com-border-shadow"
               (click)="LoadTimePendency(rowData.TotalFirNonHeniousType, rowData.MainType, rowData.MainHeader + ' - ' + rowData.TotalFirNonHeniousLabel)">
              
              <h4>
                {{ rowData.MainHeader === 'Chargesheet Pending' ? 'Chargesheet Pending for Non Henious' 
                : rowData.MainHeader === 'Chargesheet Submitted' ? 'Chargesheet Submitted for Non Henious'
                : 'Total ' + rowData.TotalFirNonHeniousLabel + ' FIR' }}
              </h4>
              <span id="HeinousNo">{{ rowData.TotalFirNonHeniousCount }}</span>
            </a>
          </div>
      
          <div class="col-sm-4">
            <a href="javascript:void(0)" class="card text-center p-4 com-border-shadow"
               (click)="LoadTimePendency(rowData.TotalFirHeniousType, rowData.MainType, rowData.MainHeader+ ' - ' + rowData.TotalFirHeniousLabel)">
              
              <h4 style="color:#af0b39">
                {{ rowData.MainHeader === 'Chargesheet Pending' ? 'Chargesheet Pending for Henious' 
                : rowData.MainHeader === 'Chargesheet Submitted' ? 'Chargesheet Submitted for Henious'
                : 'Total ' + rowData.TotalFirHeniousLabel + ' FIR' }}
              </h4>
              <span id="HeinousYes" style="color:#af0b39">{{ rowData.TotalFirHeniousCount }}</span>
            </a>
          </div>
        </div>
      </div>
      
      

       <div class="row new-design-fir" *ngIf="isTotalSecondCount" #firTotContainer>
        <div class="col-sm-12">
            <div class="card">
              <div class="card-header p-0"><h4 class="text-center">{{timePendencyHeaderLabel}}</h4></div>
                <div class="card-body">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-3" *ngFor="let timependency of timependencies">
                      <a href="javascript:void(0)" (click)="LoadFirList(timependency.Label, mainType, timependency.FromDate, timependency.ToDate, { first: 0, rows: pageSize })" class="card"><h4 >{{timependency.Label}}</h4><span >{{timependency.Cnt}}</span></a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>


      <div *ngIf="ListTable">
      <div #gridContainer class="ag-theme-alpine" style="height: 100%; width: 100%;">
        
          <div class="card mt-2">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-7">
                      <h4>{{ headerText}} </h4>
                      <h3 class="comme-h3">
                        (State: {{ ListRowData.length > 0 ? ListRowData[0].STATE : 'N/A' }}, 
                        District: {{ ListRowData.length > 0 ? ListRowData[0].DISTRICT : 'N/A' }})
                        - FIR registered from {{ CountFromDate }} to {{ CountToDate }}
                      </h3>
                      
                    </div>
                    <div class="col-md-5">
                      <div class="d-flex justify-content-end mb-2 pt-2">
                        <input type="text" class="form-control w-50" placeholder="Search..." (input)="onQuickFilter($event)">
                      </div>
                    </div>
                  </div>
                  <p-table 
                  [value]="DataFilter" 
                  [paginator]="true" 
                  [rows]="10" 
                  [lazy]="true" 
                  (onLazyLoad)="LoadFirListPagination($event)" 
                  [totalRecords]="FilteredRecordsCount" 
                  [rowsPerPageOptions]="[10, 20, 50]"
                  [paginatorTemplate]="true"
                  [responsive]="true"
                  [rowHover]="true"  
                  [sortField]="'REG_DT'" 

                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Sr.No.</th>
                        <th>Fir No.</th>
                        
                        <th>Police Station</th>
                        <th>IO Name</th>
                       
                        <th [pSortableColumn]="'REG_DT'">Registration Date  <p-sortIcon field="REG_DT"></p-sortIcon></th>
                        <th *ngIf="typeOfFir == 'Pending'">Days Passed</th>
                        <th>Status</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-case let-rowIndex="rowIndex">
                      <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td>
                          <!-- <a   href="javascript:void(0)" (click)="loadPillarData(case.FIR_REG_NUM,case.REG_DT,case.FIR_SRNO,case.PS_CD)">
                            {{ case.FIR_SRNO }}/{{ case.REG_YEAR }}
                          </a> -->
                          {{ case.FIR_SRNO }}/{{ case.REG_YEAR }}
                        </td>
                        <!-- <td>{{ case.STATE }}</td> -->
                        <!-- <td>{{ case.DISTRICT }}</td> -->
                        <td>{{ case.PS }}</td>
                        <td>{{ case.IO_NAME }}</td>
                       
                        <td>{{ case.REG_DT }}</td>
                        <td *ngIf="typeOfFir == 'Pending'">{{ case.TimeLapse }}</td>
                        <td>{{ case.FIR_STATUS_TYPE }}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                      <div>
                        Showing {{ currentFirst }} to {{ currentLast }} of {{ FilteredRecordsCount }} records
                      </div>
                    </ng-template>
                    </p-table>

                </div>
              </div>
            </div>
          </div>
        </div>
       
      </div>

     
    </div>

    <modal id="modal-othterpillerdata">
      <div class="modal-header">
          <button type="button" class="btn-close" (click)="modalService.close();"></button>
      </div>
      <div class="modal-body">
          <app-tab-container></app-tab-container>
      </div>
  </modal>