@media (max-width: 768px) {
  .ag-theme-balham .ag-header-cell, 
  .ag-theme-balham .ag-cell {
    font-size: 12px; /* Reduce font size for smaller screens */
  }

  /* Example: hide certain columns on smaller screens */
  .ag-theme-balham .ag-column-2 { 
    display: none; 
  }
  
}

.card {
  border: 1px solid #ccc; /* Add border to each card */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.card-view .col-md-4:not(:last-child) {
  margin-bottom: 0; /* Remove bottom margin from last column */
}

.card-view .col-md-4 {
  padding-bottom: 15px; /* Add padding between rows */
}


.hover-zoom {
  transition: transform 0.2s ease;
   border-radius: 4px;
}

.hover-zoom:hover {
  transform: scale(5);
  /* Increase image size on hover */
  z-index: 6;
  position: relative;
   border-radius: 8px; /* Rounded corners */
}

.hover-zoom {
  display: inline-block;
}
.custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.custom-modal-content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-modal-content img {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  background: #fff;
  border: none;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  color: #333;
  cursor: pointer;
  z-index: 2001;
  padding: 0 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s;
}

.close-btn:hover {
  background-color: #f2f2f2;
}


